div#board {
  position: relative;
  width: 770px;
  height: 770px;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 5px;
}


div#gamefield {
  position: absolute;
  width: 728px;
  height: 728px;
  margin-left: 32px;
  margin-top:  32px;
  border: 1px solid #000;
}

.figure-img{
  width: 90px;
  height: 90px;
}

.cage-char{
  float: left;
  width: 90px;
  padding-top:2px;
  background-color: #fff;
  text-align: center;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
   user-select: none; 
}

.cage-number{
  height: 90px;
  width: 18px;
  padding-top: 30px;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
   user-select: none; 
}

.cage-dark {
  float: left;
  width: 90px;
  height: 90px;
  background: #707;
  border: 0px solid #f00;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
   user-select: none; 
}

.cage-light{
  float: left;
  width: 90px;
  height: 90px;
  background: #ffE;
  border: 0px solid #ff0;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
   user-select: none; 
}

.footer {
  position: fixed;
  bottom: 0;
  width: 1110px;
}
